@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

body {
	background-color: $softBlue;
	background-image: linear-gradient(to bottom, $softViolet, $softBlue);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Kumbh Sans', sans-serif;
	height: 100vh;
}

.bold {
	font-weight: 600;
}

.feature__img {
	position: absolute;
	top: 4%;
	left: 48%;
	max-width: 300px;
	transform: translateX(-50%);
}

.feature__img__desktop {
	display: none;
}

.feature__img__box {
	display: none;
}

.faq {
	width: 300px;
	background: white;
	border-radius: 20px;
	margin: 10em auto 1em auto;
	padding: 7em 1em 1em 1em;

	&__title {
		text-align: center;
	}
}

.question {
	display: flex;
	justify-content: space-between;
	margin: 3em 0;
	transition: color 0.5s ease;
	cursor: pointer;

	&:hover {
		color: hsl(14, 88%, 65%);
	}
}

.answer {
	display: none;
	color: hsl(240, 6%, 50%);
}

.answer.open {
	display: block;
}

.arrow {
	height: 10px;
	transition: transform 0.5s ease;
}

.rotate {
	transform: rotate(180deg);
}

@media screen and (min-width: 1000px) {
	.feature__img {
		display: none;
	}

	.feature__img__box {
		z-index: 2;
		position: relative;
		display: block;
		left: -36%;
		top: 32%;
	}

	.faq {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 800px;
		margin: 10em auto 1em auto;
		padding: 5em 3em 1em 3em;
		background: rgba(255, 255, 255, 0.9);
		background-image: url('/images/illustration-woman-online-desktop.svg'),
			url('/images/bg-pattern-desktop.svg');
		background-repeat: no-repeat;
		background-position-x: -20%, 900%;
		background-position-y: 50%, 50%;

		&__container {
			grid-column: 2/3;
		}
		&__title {
			text-align: left;
		}
	}

	.question {
		display: flex;
		justify-content: space-between;
		margin: 3em 0;
		transition: color 0.5s ease;
		cursor: pointer;

		&:hover {
			color: hsl(14, 88%, 65%);
		}
	}
}
